@model MakeRentalModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MakeRental.css">
    <title>Realizar Alquiler</title>
</head>
<body class="BodyMakeRental">
    <div class="ContentBodyMakeRental">
        <div class="DivNavBarMakeRental">
            <nav class="NavBarMakeRental">
                <div class="LinkLogoMakeRental">
                    <a asp-controller="Home" asp-action="Index"><img class="ImageLogo" src="~/images/Logo.webp" alt="Logotipo" /></a>
                </div>
                <div class="DivLinkMakeRental">
                    <a asp-controller="User" asp-action="LogIn" class="LinkMakeRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login-2 IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="LinkTextMakeRental">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkMakeRental">
                    <a asp-controller="User" asp-action="UserInfo" class="LinkMakeRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="LinkTextMakeRental">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkMakeRental">
                    <a asp-controller="Vehicle" asp-action="VehiclesInfo" class="LinkMakeRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="LinkTextMakeRental">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkMakeRental">
                    <a asp-controller="Rental" asp-action="RentalHistory" class="LinkMakeRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-history IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="LinkTextMakeRental">Ver Mis Alquileres</span>
                    </a>
                </div>
                <div class="DivLinkMakeRental">
                    <a asp-controller="User" asp-action="LogOut" class="LinkMakeRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="LinkTextMakeRental">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContentMakeRental">
            <div class="DivHeaderMakeRental">
                <header class="HeaderMakeRental">
                    <h1 class="MainTitlelMakeRental">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivMainContentMakeRental">
                <div class="DivMainMakeRental">
                    <main role="main" class="MainMakeRental">
                        <div class="ContentMainMakeRental">
                            <div class="DivFormTitleMakeRental">
                                <h2 class="FormTitleMakeRental">Realizar Alquiler</h2>
                            </div>
                            <div class="DivFormMakeRental">
                                <form asp-controller="" asp-action="" method="post" class="FormMakeRental">
                                    <div class="DivFormMakeRentalInternalInputs">
                                        <div class="DivFormMakeRentalInternaInputslLeft">
                                            <label>Fecha Inicio Alquiler</label>
                                            <input type="datetime-local" name="name" class="InputDateTime" />
                                            <label>Fecha Fin Alquiler</label>
                                            <input type="datetime-local" name="name" class="InputDateTime" />
                                        </div>
                                        <div class="DivFormMakeRentalInternaInputslRight">
                                            <div class="DivInfoFormMakeRental">
                                                <label>Vehículo</label>
                                                <label>@Model.Vehicle.VehicleType_Vehicle : @Model.Vehicle.VehicleOutline_Vehicle</label>
                                            </div>
                                            <div class="DivInfoFormMakeRental">
                                                <label>Lugar de Recogida y Entega</label>
                                                <select>
                                                    <option value=0 selected disabled>Seleccione un Lugar</option>
                                                    @foreach (var Place in Model.Places)
                                                    {
                                                        <option value=@Place.Id_RentalPlace>@Place.Name_RentalPlace</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="DivInfoFormMakeRental">
                                                <input type="checkbox" id="VehicleWashButton" />
                                                <label>Agregar lavada</label>
                                                <input type="text" id="VehicleWashPrice"/>
                                            </div>
                                            <div class="DivInfoFormMakeRental">
                                                <label>Seguro</label>
                                                <select>
                                                    <option value=0 selected disabled>Seleccione un Seguro</option>
                                                    @foreach (var Insurance in Model.Insurances)
                                                    {
                                                        <option value=@Insurance.Id_RentalInsurance>@Insurance.Name_RentalInsurance (@Insurance.Price_RentalInsurance)</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="DivInfoFormMakeRental">
                                                <button id="CalculateRentalPriceButton">Calcular Total Alquiler</button>
                                                <input type="text" value="" id="RentalPrice" />
                                            </div>
                                            <div class="DivInfoFormMakeRental">
                                                <label>Método de Pago</label>
                                                <select>
                                                    <option value=0 selected disabled>Seleccione un Método de Pago</option>
                                                    @foreach (var PaymentMethod in Model.PaymentMethods)
                                                    {
                                                        <option value=@PaymentMethod.Id_RentalPaymentMethod>@PaymentMethod.Name_RentalPaymentMethod</option>
                                                    }
                                                </select>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="DivFormMakeRentalInternalButton">
                                        <input type="submit" value="Realizar Alquiler" class="ButtonSendFormMakeRental" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterMakeRental">
                <footer class="FooterMakeRental">
                    <span class="TextFooterMakeRental">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/js/MakeRental.js"></script>
</body>
</html>