@model VehicleModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/VehicleInfoRental.css" />
    <title>Información Vehículo</title>
</head>
<body class="BodyVehicleInfoRental">
    <div class="ContentBodyVehicleInfoRental">
        <div class="DivNavBarVehicleInfoRental">
            <nav class="NavBarVehicleInfoRental">
                <div class="LinkLogoVehicleInfoRental">
                    <a asp-controller="Home" asp-action="Index"><img class="ImageLogo" src="~/images/Logo.webp" alt="Logotipo" /></a>
                </div>
                <div class="DivLinkVehicleInfoRental">
                    <a asp-controller="User" asp-action="LogIn" class="LinkVehicleInfoRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login-2 IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="LinkTextVehicleInfoRental">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkVehicleInfoRental">
                    <a asp-controller="User" asp-action="UserInfo" class="LinkVehicleInfoRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="LinkTextVehicleInfoRental">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkVehicleInfoRental">
                    <a asp-controller="Vehicle" asp-action="VehiclesInfo" class="LinkVehicleInfoRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="LinkTextVehicleInfoRental">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkVehicleInfoRental">
                    <a asp-controller="Rental" asp-action="RentalHistory" class="LinkVehicleInfoRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-history IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="LinkTextVehicleInfoRental">Ver Mis Alquileres</span>
                    </a>
                </div>
                <div class="DivLinkVehicleInfoRental">
                    <a asp-controller="User" asp-action="LogOut" class="LinkVehicleInfoRental">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconLinkSVG"
                             width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="LinkTextVehicleInfoRental">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContentVehicleInfoRental">
            <div class="DivHeaderVehicleInfoRental">
                <header class="HeaderVehicleInfoRental">
                    <h1 class="MainTitlelVehicleInfoRental">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivMainContentVehicleInfoRental">
                <div class="DivMainVehicleInfoRental">
                    <main role="main" class="MainVehicleInfoRental">
                        <div class="ContentMainVehicleInfoRental">
                            <div class="DivGroupComponentsVehicleInfoRental">
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Tipo de Vehículo</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.VehicleType_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Marca</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.VehicleBrand_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Linea</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.VehicleOutline_Vehicle" readonly />
                                </div>
                            </div>
                            <div class="DivGroupComponentsVehicleInfoRental">
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Clasificación del Vehículo</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.VehicleClassification_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Cilindrada</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.CylinderCapacity_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Tipo de Combustible</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.VehicleFuelType_Vehicle" readonly />
                                </div>
                            </div>
                            <div class="DivGroupComponentsVehicleInfoRental">
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Modelo</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.Model_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Color</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.Color_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Cantidad de Pasajeros</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.PassengerCapacity_Vehicle" readonly />
                                </div>
                            </div>
                            <div class="DivGroupComponentsVehicleInfoRental">
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Ciudad</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.VehicleCity_Vehicle" readonly />
                                </div>
                                <div class="DivTwoComponentsVehicleInfoRental">
                                    <label class="TitleVehicleInfoRental">Precio de Alquiler (Por Día)</label>
                                    <input class="ValueVehicleInfoRental" type="text" name="name" value="@Model.RentalPriceDay_Vehicle" readonly />
                                </div>
                            </div>
                            <div class="DivGroupComponentsVehicleInfoRental">
                                <a class="LinkButtonVehicleInfoRental" asp-controller="Home" asp-action="Index">

                                    <button class="ButtonVehicleInfoRental">Volver al Inicio</button>
                                </a>
                                <a class="LinkButtonVehicleInfoRental" asp-controller="Rental" asp-action="MakeRental" asp-route-Id_Vehicle=@Model.Id_Vehicle>
                                    <button class="ButtonVehicleInfoRental">
                                        Realizar Alquiler
                                    </button>
                                </a>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterVehicleInfoRental">
                <footer class="FooterVehicleInfoRental">
                    <span class="TextFooterVehicleInfoRental">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>